@font-face {
  font-family: 'Roboto', sans-serif;
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
}

#container {
  width: 375px;
  height: 812px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin-top: 3%;
  border: 17px solid #222222;
  border-radius: 45px;
}

#header_container {
  text-align: center;
}

#logo {
  width: 35%;
  margin-top: 3%;
}

#bandeau {
  width: 100%;
  margin-top: 4%;
}

#btn_creer_recette {
  width: 30%;
  text-align: center;
  margin-top: 9%;
  cursor: pointer;
}

#txt_creer {
  font-family: Roboto, sans-serif;
}

#container p {
  margin-top: 5px;
}

#btn_mes_recettes{
  width: 30%;
  text-align: center;
  margin-top: 5%;
  font-size: medium;
  cursor: pointer;
}

#txt_consulter {
  font-family: Roboto, sans-serif;
}

#container button{
  margin-top: 8%;
  background-color: #dd7b72;
  text-transform: uppercase;
  font-size: 13px;
  padding-top: 4px;
  padding-bottom: 4px;
  color: white;
  outline: none;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
}

nav {
  position: absolute;
  bottom: 0;
  width: 375px;
  height: 8%;
  background-color: #f8f8f9;
  border-top: 1px solid #e0e0e0;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  border-bottom-left-radius: 45px;
  border-bottom-right-radius: 45px;
}

nav img {
  height: 43%;
  margin-left: 9%;
  margin-right: 9%;
  cursor: pointer;
}

@media only screen
and (device-width : 375px)
and (device-height : 812px)
and (-webkit-device-pixel-ratio : 3) {

  #container {
    width: 100%;
    height: 100%;
  }

}


