#container {
  width: 375px;
  height: 812px;
  margin-left: auto;
  margin-right: auto;
  background-color: cornflowerblue;
}

@media only screen
and (device-width : 375px)
and (device-height : 812px)
and (-webkit-device-pixel-ratio : 3) { }
