#container {
  width: 375px;
  height: 812px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  position: relative;
}

#header_container {
  text-align: center;
}

#logo {
  width: 40%;
  margin-top: 3%;
}

#bandeau {
  width: 100%;
  margin-top: 4%;
}

nav {
  position: absolute;
  bottom: 0;
  width: 375px;
  height: 8%;
  background-color: #f8f8f9;
  border-top: 1px solid #e0e0e0;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

nav img {
  height: 43%;
  margin-left: 9%;
  margin-right: 9%;
}

@media only screen
and (device-width : 375px)
and (device-height : 812px)
and (-webkit-device-pixel-ratio : 3) {

  #container {
    width: 100%;
    height: 100%;
  }

}


